@model Orus_UserAccessAndManagement.ViewModels.Account.IndexViewModel
@{
    ViewBag.Title = "Gerenciar conta";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>    
    <hr />
    <dl class="dl-horizontal">
        
        @Html.Label("Password:")         
            
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Trocar de senha", "ChangePassword", null, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Criar", "SetPassword")
        }        
    </dl>
</div>
